<mat-card>
<mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onPostCake(postForm)" #postForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="name"
        [(ngModel)]="cake.name"
        required
        minlength="3"
        placeholder="Baker's name"
        #name="ngModel">
      <mat-error *ngIf="name.invalid">Please enter Baker's name</mat-error>
    </mat-form-field>
  <mat-form-field>
    <input
        matInput
        type="text"
        name="image"
        [(ngModel)]="cake.imagePath"
        required
        minlength="3"
        placeholder="Cake's Image URL"
        #image="ngModel">
      <mat-error *ngIf="image.invalid">Please enter Cake's picture URL</mat-error>
    </mat-form-field>


    <mat-form-field>
      <textarea
        matInput
        rows="4"
        name="description"
        [(ngModel)]="cake.description"
        required
        placeholder="Cake Description"
        #description="ngModel"></textarea>
      <mat-error *ngIf="description.invalid">Please enter cake's description.</mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="accent"
      type="submit">Save</button>
  </form>
</mat-card>

